<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imjut.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".Imjut"
        android:allowBackup="true"
        android:icon="@mipmap/imjut"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <service android:name=".MyFirebaseMessaggingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrarseActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".HomeActivities.Eventos.EventosActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/SwipeBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imjut.android.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivities.BolsaTrabajo.BolsaTrabajoActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/SwipeBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imjut.android.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivities.Galeria.GaleriaActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HomeActivities.Programas.ProgramasActivity"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/SwipeBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imjut.android.HomeActivity" />
        </activity>
        <activity
            android:name=".HomeActivities.Galeria.GaleriaDetallesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivities.DetallesImagenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".HomeActivities.BolsaTrabajo.BolsaTrabajoDetalles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ContactoActivity" />
        <activity android:name=".AcercaDeActivity" />
        <activity android:name=".SubirContenido.PanelSubirContenido" />
        <activity android:name=".SubirContenido.SubirProgramaActivity" />
        <activity android:name=".SubirContenido.SubirEventoActivity" />
        <activity android:name=".SubirContenido.SubirGaleriaActivity" />
        <activity android:name=".SubirContenido.SubirBolsaTrabajoActivity" />
        <activity android:name=".HomeActivities.BolsaTrabajo.BolsaTrabajoPostularse" />
        <activity android:name=".HomeActivities.Programas.AsistirActivity" />
        <activity android:name=".EmergenciaActivity"></activity>
    </application>

</manifest>