<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.imjut.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        tools:replace="android:supportsRtl"
        android:name="com.imjut.android.Imjut"
        android:allowBackup="true"
        android:icon="@mipmap/imjut"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.imjut.android.SplashScreen"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.imjut.android.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.imjut.android.RegistrarseActivity" />
        <activity android:name="com.imjut.android.LoginActivity" />
        <activity
            android:name="com.imjut.android.HomeActivities.Eventos.EventosActivity"
            android:parentActivityName="com.imjut.android.HomeActivity"
            android:theme="@style/SwipeBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imjut.android.HomeActivity" />
        </activity>
        <activity
            android:name="com.imjut.android.HomeActivities.BolsaTrabajo.BolsaTrabajoActivity"
            android:parentActivityName="com.imjut.android.HomeActivity"
            android:theme="@style/SwipeBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imjut.android.HomeActivity" />
        </activity>
        <activity
            android:name="com.imjut.android.HomeActivities.Galeria.GaleriaActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.imjut.android.HomeActivities.Programas.ProgramasActivity"
            android:parentActivityName="com.imjut.android.HomeActivity"
            android:theme="@style/SwipeBack">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imjut.android.HomeActivity" />
        </activity>
        <activity
            android:name="com.imjut.android.HomeActivities.Galeria.GaleriaDetallesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.imjut.android.HomeActivities.Eventos.DetallesEventoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.imjut.android.HomeActivities.BolsaTrabajo.BolsaTrabajoDetalles"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.imjut.android.ContactoActivity" />
        <activity android:name="com.imjut.android.AcercaDeActivity" />
        <activity android:name="com.imjut.android.SubirContenido.PanelSubirContenido" />
        <activity android:name="com.imjut.android.SubirContenido.SubirProgramaActivity" />
        <activity android:name="com.imjut.android.SubirContenido.SubirEventoActivity" />
        <activity android:name="com.imjut.android.SubirContenido.SubirGaleriaActivity" />
        <activity android:name="com.imjut.android.SubirContenido.SubirBolsaTrabajoActivity" />
        <activity android:name="com.imjut.android.HomeActivities.BolsaTrabajo.BolsaTrabajoPostularse"></activity>
        <activity android:name="com.imjut.android.HomeActivities.Programas.AsistirActivity"></activity>
    </application>

</manifest>